python-dotenv
pandas
streamlit
plotly
pydeck
folium
streamlit-folium
ipykernel
pyiceberg
pyarrow
scikit-learn
xgboost
requests
openpyxl
beautifulsoup4
python-dateutil
tenacity
databricks-sql-connector
